Localization
{
	zh-cn
	{
		#loc_BDArmory_modname = BD Armory Extended

		#loc_BDArmory_Bare = Bare
		#loc_BDArmory_Hidden = Hidden

		//37mm Ammunition Box
		#loc_BDArmory_part_baha37mmAmmo_title = 37mm 弹药箱
		#loc_BDArmory_part_baha37mmAmmo_description = 一个装了160发37x155mm炮弹的弹药箱。你知道一发这玩意儿有多大吗？
		#loc_BDArmory_part_baha37mmAmmo_tags = BDA ammo box 37mm rounds bullet

		//YakB .50 Gatling gun
		#loc_BDArmory_part_bahaYakB_title = YakB 航空重机枪
		#loc_BDArmory_part_bahaYakB_description = 一挺四管.50口径转管重机枪，以防你觉得勃朗宁AN/M3不够用。附赠可选的气动外壳。使用.50弹药。	
		#loc_BDArmory_part_bahaYakB_tags = BDA gun weap turret .50 50cal fiddy gatling

		//Revolver Cannon
		#loc_BDArmory_part_bahaRevolverCannon_title = M27 航空转膛炮
		#loc_BDArmory_part_bahaRevolverCannon_description = 一门用于安装在飞机上的单管中口径转膛炮，牺牲射速换取威力。附赠可选的气动外壳。使用30mm弹药。
		#loc_BDArmory_part_mauser_tags = BDA gun weap 27mm 30mm cannon

		//Repeater Cannon
		#loc_BDArmory_part_bahaRepeater_title = R2-30 重型双管航炮
		#loc_BDArmory_part_bahaRepeater_description = 一门后座力驱动双管中口径转管炮。射速随开火时间增长。附赠可选的气动外壳。使用30mm弹药。
		#loc_BDArmory_part_bahaRepeater_tags = BDA gun weap 30mm cannon rotary spool gatling 
		//AutoCannon
		#loc_BDArmory_part_bahaNudelman_title = N-37 航炮
		#loc_BDArmory_part_bahaNudelman_description = 一门重型37mm航炮，以低射速换来了巨大威力。使用37mm弹药。
		#loc_BDArmory_part_bahaN37_tags = BDA gun weap 37mm cannon

		//Antitank Gun
		#loc_BDArmory_part_bahaQF6lb_title = QF-6磅 57mm 反坦克炮
		#loc_BDArmory_part_bahaQF6lb_description =57 mm 6磅炮的缩小版，配有 5 发自动装弹机，用于安装在攻击机或轻型车辆上。使用 57 mm弹药。
		#loc_BDArmory_part_bahaQF6lb_tags = BDA gun weap 57mm cannon reload

		//Flak Cannon
		#loc_BDArmory_part_bahaflakcannon_title = F-90 航炮
		#loc_BDArmory_part_bahaflakcannon_desc = 一门轻量化并修改成航炮的90mm防空炮。可以发射像霰弹的高爆弹丸，或者装有近炸引信的防空炮弹药。使用防空炮弹药。
		#loc_BDArmory_part_bahaflakcannon_tags = BDA gun weap 90mm cannon flak shotgun cannister shotty

		//Torsion Cannon
		#loc_BDArmory_part_Tractorbeam_title = 拖曳炮
		#loc_BDArmory_part_Tractorbeam_description = 在一个曾用作物理实验室的废弃仓库内的角落发现了一个密封的箱子，里面藏有这个武器。我们不知道它是如何工作的，但发射时它能将物体拉向自己。使用电能。
		#loc_BDArmory_part_Tractorbeam_tags = BDA laser weap beam grav pull tractor electric EC

		//37mm
		#loc_BDArmory_part_baha37mmTurret_title = 37mm L/39 炮塔
		#loc_BDArmory_part_baha37mmTurret_desc = 一个气动外壳里装了一门轻型双管37mm炮。主要用于近点防御或者攻击小型载具。使用37mm弹药。
		#loc_BDArmory_part_baha37mmTurret_tags = BDA gun weap turret 37mm cannon PD AA
		//Bofors
		#loc_BDArmory_part_baha57mmTurret_title = 57mm L/32 炮塔
		#loc_BDArmory_part_baha57mmTurret_desc =一个气动外壳里装了一门57mm速射炮。主要作为炮艇的主武器，或者更大的载具上的防空炮。使用57mm弹药。
		#loc_BDArmory_part_bofors_tags = BDA gun weap turret 57mm cannon DP AAA dual reload

		//3in Turret
		#loc_BDArmory_part_baha76mmTurret_title = 76mm L/25 炮塔
		#loc_BDArmory_part_baha76mmTurret_desc = 在一个低矮的炮塔里塞进了两门短管76mm速射炮。可以作为炮艇的主要武器或者在更大的载具上作为对空-对海两用次要武器使用。使用76mm弹药。
		#loc_BDArmory_part_76mm_tags = BDA gun weap turret 76mm cannon DP AAA dual reload
		//100mm Turret
		#loc_BDArmory_part_baha100mmTurret_title = 100mm L/30 重型炮塔
		#loc_BDArmory_part_baha100mmTurret_desc = 简化的双管自动装填 100 mm炮塔，安装在一个气动外壳中，可用作重型水面舰艇和空中巡洋舰的主要武器。使用火炮弹药（CannonShells）。
		#loc_BDArmory_part_100mmTurret_tags = BDA gun weap turret 100mm cannon reload
		//130mm Turret
		#loc_BDArmory_part_baha130mmTurret_title = 130mm L/30 重型炮塔
		#loc_BDArmory_part_baha130mmTurret_desc =一门对付厚重目标的130mm火炮，简化后塞进了一个气动外壳里。威力巨大，但很重且射速慢。使用火炮弹药（CannonShells）。
		#loc_BDArmory_part_130mmTurret_tags = BDA gun weap turret 130mm cannon reload

		//37mm CIWS
		#loc_BDArmory_part_baha37mmCIWS_title = 37mm 近防炮
		#loc_BDArmory_part_baha37mmCIWS_desc = 一门重型大口径近防炮，用于提供对空及对轻型舰艇近点防御，还可以拦截在途弹药。附带内置弹药箱和气动外壳。使用37mm弹药。
		#loc_BDArmory_part_baha37mmCIWS_tags = BDA gun weap turret 37mm cannon PD CIWS AA

		//Chemical Laser
		#loc_BDArmory_part_bahaTLS_title = 航空化学激光器
		#loc_BDArmory_part_bahaTLS_description = 一种战术尺寸的化学激光武器，已缩小到足以在飞机上使用。使用内置弹药供应，不依赖外部弹药箱，但也无法重新装弹。
		#loc_BDArmory_part_bahaTLS_tags = BDA laser beam weap turret reload

		//Aircraft Plasma Beam
		#loc_BDArmory_part_bahaPlasmabeam_title = 航空等离子激光
		#loc_BDArmory_part_bahaPlasmabeam_description = 一种战术尺寸的短射程等离子体光束发射器，专为在飞机上使用而设计。由于大气与光束的相互作用，等离子体的伤害会随着目标距离的增加而降低。使用内置弹药供应，无法在飞行中重新装弹。
		#loc_BDArmory_part_bahaPlasmabeam_tags = BDA laser weap beam pulse reload energy
		//Aircraft Railgun
		#loc_BDArmory_part_bahaRailgun_title = 航空轨道炮
		#loc_BDArmory_part_bahaRailgun_description = 一种用于飞机的远程火药动力-电磁混合轨道炮。为了使它的尺寸缩小到不给飞机动力装置造成压力，我们做出了取舍，这导致了较长的充能时间，所以最好瞄准一点。
		#loc_BDArmory_part_bahaRailgun_tags = BDA gun weap 37mm rail snipe charge electric EC
		#loc_BDArmory_part_bahaBurstRailgun_description = 一种用于飞机的远程火药动力-电磁混合轨道炮。用旋转电容器组取代供电装置后，可实现连发射击，而射击散布和武器质量略有增加。
		
		//Tesla Cannon
		#loc_BDArmory_part_bahaTesla_title = 特斯拉炮
		#loc_BDArmory_part_bahaTesla_description = 一门冒蓝电的炮，有了这个还想要啥？
		#loc_BDArmory_part_bahaTesla_tags = BDA laser weap electric EC lighting electro EMP 
		//APS
		#loc_BDArmory_part_bahaPalash_title = 主动保护系统
		#loc_BDArmory_part_bahaPalash_description = 三发装的主动防护系统，旨在拦截射来的坦克炮弹。
		#loc_BDArmory_part_bahaPalash_tags = BDA APS PD protect active

		#loc_BDArmory_part_bahaPDC_title = 气泡型.50 近防炮塔
		#loc_BDArmory_part_bahaPDC_description = 炮塔式 .50 口径点防御机枪，开启防护模式后可自动拦截来袭导弹。使用 .50 口径弹药。
		#loc_BDArmory_part_bahaPDC_tags = BDA PD protect active CIWS APS point .50 cal turret 
		//Ammo Drums
		#loc_BDArmory_part_bahaCannonShellDrum_title = 火炮弹药弹鼓
		#loc_BDArmory_part_bahaCannonShellDrum_desc = 装有40发火炮弹药（CannonShells）的弹鼓。
		#loc_BDArmory_part_bahaCannonShellDrum_tags = BDA ammo box cannon rounds bullet shell

		#loc_BDArmory_part_baha76mmShellDrum_title= 76mm弹药弹鼓
		#loc_BDArmory_part_baha76mmShellDrum_desc = 装有60发76mm弹药的弹鼓。
		#loc_BDArmory_part_baha76mmShellDrum_tags = BDA ammo box cannon rounds bullet shell 76mm
		#loc_BDArmory_part_baha57mmShellDrum_title = 57mm 弹药弹鼓
		#loc_BDArmory_part_baha57mmShellDrum_desc = 装有192发57mm弹药的弹鼓。

		#loc_BDArmory_part_baha57mmAmmo_title = 57mm 弹药箱
		#loc_BDArmory_part_baha57mmAmmo_desc = 装有48发57mm弹药的弹药箱。
		#loc_BDArmory_part_baha57mmAmmo_tags = BDA ammo box cannon rounds bullet shell 57mm

		#loc_BDArmory_part_baha37mmShellDrum_title = 37mm 弹药弹鼓
		#loc_BDArmory_part_baha37mmShellDrum_desc = 装有600发37mm弹药的弹鼓。
		#loc_BDArmory_part_baha57mmAmmo_tags = BDA ammo box cannon rounds bullet shell 37mm

		#loc_BDArmory_part_baha37mmAmmo_title = 37mm 弹药箱
		#loc_BDArmory_part_baha37mmAmmo_desc = 装有160发37mm弹药的弹药箱。

		#loc_BDArmory_part_bahaFlakShellDrum_title = 防空炮弹药弹鼓
		#loc_BDArmory_part_bahaFlakShellDrum_desc = 装有30发防空炮弹药的弹鼓。
		#loc_BDArmory_part_bahaFlakShellDrum_tags = BDA ammo box cannon rounds bullet shell flak 90mm
		//Drop Tank
		#loc_BDArmory_part_bahaDroptank_title = 可抛弃油箱
		#loc_BDArmory_part_bahaDroptank_description = 一个装了100单位液体燃料的气动外形油箱，用以延长飞机航程。在使用机载油箱之前，首先会从它里面汲取燃料。会在战斗开始时自动抛弃。
		#loc_BDArmory_part_bahaDroptank_tags = BDA fuel tank prop liquid jettison
		//CLS
		#loc_BDArmory_part_bahaCLS_Long = C-VLS-24 导弹荚
		#loc_BDArmory_part_CLS_long_Desc = 小型径向倾斜垂直发射系统，用于攻击机和皇牌空战里的飞机。该型号装载有红外子弹药。
		#loc_BDArmory_part_bahaCLS_Short = C-VLS-12 导弹荚
		#loc_BDArmory_part_CLS_Short_Desc = 小型径向倾斜垂直发射系统，用于攻击机和皇牌空战里的飞机。该型号装有雷达制导子弹药。
		#loc_BDArmory_part_CLS_Short_tags = BDA missile radar ordinance guided launcher pod swarm
		#loc_BDArmory_part_CLS_long_tags = BDA missile heat ordinance guided launcher pod swarm

		//Twin Rail
		#loc_BDArmory_part_twinRail_title = 双联装导弹导轨
		#loc_BDArmory_part_bahaTwinRail_desc = 双联导弹导轨，可同时向目标发射一对导弹或炸弹。可以通过在底部导轨节点上安装新弹药来更换已装载的弹药。
		#loc_BDArmory_part_twinRail_tags = BDA launcher rail ordinance missile reload hardpoint 
		//Homing Hydra
	#loc_BDArmory_part_bahaHydraAPKWS_title = 火蛇70制导火箭弹发射器
	#loc_BDArmory_part_bahaHydraAPKWS_description = 九头蛇-70 的升级版。仍可容纳和发射 19 枚火箭弹，但这些火箭弹装有制导模块，可以用激光引导火箭弹飞向目标。

		//AIM-4 Falcon
	#loc_BDArmory_part_bahaFalcon_title = AIM-4 “隼” GAR-1
	#loc_BDArmory_part_bahaFalcon_description = 这种老式雷达制导导弹旨在击落机动能力有限的低速轰炸机，对机动能力较强的战斗机效率较低。由于缺乏近炸引信，该导弹只有在直接命中目标时才会引爆。
	#loc_BDArmory_part_bahaFalcon_tags = BDA missile ordinance radar contact

		//AIM-4 Falcon GAR
	#loc_BDArmory_part_bahaFalconIR_title = AIM-4 “隼” GAR-2

	#loc_BDArmory_part_bahaFalconIR_description = 这种老式红外制导导弹旨在击落机动能力有限的低速轰炸机，对机动能力较强的战斗机效率较低。由于缺乏近炸引信，该导弹只有在直接命中目标时才会引爆。
	#loc_BDArmory_part_bahaFalconIR_tags = BDA missile ordinance heat IR aspect contact
 
		//AIM-4 Falcon GAR-11
	#loc_BDArmory_part_bahaFalconRad_title = AIM-4 “隼” GAR-11
	#loc_BDArmory_part_bahaFalconRad_desc = 后期型号的 AIM-4 "隼"，设计用于携带 0.25 千吨当量战术核弹头。与基本型 "隼 "有相同的特点。
	#loc_BDArmory_part_bahaFalconRad_tags = BDA missile ordinance contact nuke nuclear boom 

		// Homing Anti-CounterMeasure Missile
	#loc_BDArmory_part_bahaHACM_title =  AAM-176 制导反电子反制装置导弹（HACM） 导弹
	#loc_BDArmory_part_bahaHACM_description = 中程反电子反制装置导弹，具有主动/被动雷达制导功能。通过雷达制导进入目标射程后，该导弹将瞄准正在运转的电子反制装置发射的雷达信号源。

		// Homing Anti-Radiation Missile
	#loc_BDArmory_part_bahaAAHARM_title =  AAM-188 制导反辐射（HARM）导弹
	#loc_BDArmory_part_bahaAAHARM_description = 一种远程反辐射导弹，可锁定 RWR 探测到的雷达信号源。这种导弹具有空对空制导系统，可用于打击敌方空中目标。

		// ALRAAM
	#loc_BDArmory_part_bahaALRAAM_title = R-35 “乌兰” 导弹
	#loc_BDArmory_part_bahaALRAAM_description = 重型远程雷达制导空对空导弹，用于打击远距离目标。

		// ERRAAM
	#loc_BDArmory_part_bahaERRAAM_title = AIM-54 “不死鸟” 导弹
	#loc_BDArmory_part_bahaERRAAM_description = 一种重型、远程雷达制导空对空导弹，采用高抛弹道攻击超远距离目标。 

	#loc_BDArmory_part_bahaERATG_title = AGM-12 “小斗犬”导弹
	#loc_BDArmory_part_bahaERATG_description = 远程中等当量激光制导空对地导弹。


		// Heavy ATG
	#loc_BDArmory_part_bahaGrom_title = Kh-66 “雷” 导弹
	#loc_BDArmory_part_bahaGrom_description = 重型激光制导空对地导弹。


		// Extended Range Heat Seeking Missile
	#loc_BDArmory_part_bahaEifreet_title = S-35 “炎魔” 导弹
	#loc_BDArmory_part_bahaEifreet_description = 一种用于拦截远距离目标的远程红外制导导弹。

		// Long Range Heat Seeking Missile
	#loc_BDArmory_part_bahaLariat_title = IR-53 “套索” 导弹
	#loc_BDArmory_part_bahaLariat_description = 远程红外制导导弹
		// Light Short Range Radar Missile
	#loc_BDArmory_part_bahaLSRRM_title = R-7 “鞭子”导弹
	#loc_BDArmory_part_bahaLSRRM_description = 轻型短程雷达制导导弹，可大量携带。

		// Short Range Suppression Missile
	#loc_BDArmory_part_bahaHSRRM_title = R-55 “台风”导弹
	#loc_BDArmory_part_bahaHSRRM_description = 一种重型短程雷达导弹，用于终结大型或受损目标。

		// Short Range Hunter-Killer Missile
	#loc_BDArmory_part_bahaAMSRM_title = AIM-18 “怪蛇”导弹
	#loc_BDArmory_part_bahaAMSRM_description = 一种先进机动短程红外制导导弹，甚至能追击最敏捷的目标。
		// Light Range IR Missile
	#loc_BDArmory_part_bahaSRAAM_title = IR-4 “火枪”导弹
	#loc_BDArmory_part_bahaSRAAM_description = 轻型短程红外制导导弹，可大量携带。
	#loc_BDArmory_part_bahaSRAAM_tags = BDA missile heat IR homing a2a ata ordinance weap guided swarm
		// Rear-Aspect IR Missile
	#loc_BDArmory_part_bahaRedtop_title = IR-12 “热刺”导弹
	#loc_BDArmory_part_bahaRedTop_description = 早期红外制导导弹，需要后向锁定。

		// Anti-Shipping Missile
	#loc_BDArmory_part_bahaAShM_title = Kh-30 “莫洛”导弹
	#loc_BDArmory_part_bahaAShM_description = 大型高速反舰导弹。
	#loc_BDArmory_part_bahaAShM_tags = BDA missile radar homing a2g ats ordinance weap guided antiship cruise
		// Passive Radar Missile
	#loc_BDArmory_part_bahaSARH_title = R-15P 导弹
	#loc_BDArmory_part_bahaSARH_description = 一种被动雷达制导导弹，依靠载机的雷达来引导导弹飞向目标。
		// Bomblet Dispenser
	#loc_BDArmory_part_dispenser_title = UGB-128D 炸弹投放器
	#loc_BDArmory_part_dispenser_desc = 外部安装的炸弹舱，可容纳 128 枚小型炸弹。
	#loc_BDArmory_part_dispenser_tags = BDA bomb heat ordinance launcher pod swarm cluster

	#loc_BDArmory_part_bahaBomblet_title = UGB-128D 炸弹
	#loc_BDArmory_part_bahaBomblet_description = 用于 UGB-128D 型炸弹投放器的低当量子弹药。

	#loc_BDArmory_part_clustermissile_title = 集束导弹
	#loc_BDArmory_part_clustermissile_desc = 中程雷达制导集束导弹，在接近目标时可发射 8 枚子导弹。
	#loc_BDArmory_part_clustermissile_tags = BDA missile radar homing a2a ata ordinance weap guided cluster swarm

	#loc_BDArmory_part_VLScell_title = 四坑垂直发射（VLS）系统
	#loc_BDArmory_part_VLScell_desc = 4 单元垂直发射系统组件。将导弹连接到顶部节点，发射器便可装载该型导弹。导弹另出售。可调整大小。
	#loc_BDArmory_part_VLScell_tags = BDA launcher rail ordinance missile reload hardpoint VLS

	#loc_BDArmory_part_torpLauncher_title = 三联鱼雷发射器
	#loc_BDArmory_part_torpLauncher_desc = 安装在甲板上的三联装鱼雷发射器，用于发射重型反舰鱼雷。将鱼雷安装到顶部节点，发射器就能装载该型鱼雷。若用于发射其他弹药保修失效。可调整大小。
	#loc_BDArmory_part_torpLauncher_tags = BDA launcher rail ordinance torpedo reload hardpoint 

	#loc_BDArmory_part_TigersharkTorpedo_title = “虎鲨”主动声纳鱼雷
	#loc_BDArmory_part_TigersharkTorpedo_desc = 一种大型、快速、远距离声纳寻的鱼雷，用于舰艇甲板发射器。它能捕捉敌方军舰或潜艇的声纳特征。

	#loc_BDArmory_part_SwordfishTorpedo_title = “剑鱼”被动声纳鱼雷
	#loc_BDArmory_part_SwordfishTorpedo_desc = 中型被动声学制导鱼雷，供舰艇或潜艇使用。它能捕捉敌方舰艇的声学特征。

	#loc_BDArmory_part_BDAsonarPod1B_title = BDA 被动声纳吊舱
	#loc_BDArmory_part_BDAsonarPod1B_desc = BDA 被动声纳吊舱适合完全浸没在水下工作，可以用于探测水面和潜水的目标。作为一种被动声纳，它只能探测，不能跟踪，但不会向敌方声纳暴露自己的位置。



	#loc_BDArmory_part_RIM_title = RIM-66D “标准”II型导弹
	#loc_BDArmory_part_RIM_desc = 中程多用途导弹，可打击水面和空中目标。设计为利用垂直发射系统（ VLS） 发射。
	#loc_BDArmory_part_deployableRail = 可展开导弹吊舱
#loc_BDArmory_part_deployableReloadRail = 可展开导弹吊舱（可复装）
#loc_BDArmory_part_deployableRail_desc = 带有气壳外壳的可展开导弹导轨。
#loc_BDArmory_part_deployableReloadRail_desc = 带有气壳外壳的可展开导弹轨道。发射导弹后可以重新装弹。
	#loc_BDArmory_part_deployableRail_tags = BDA launcher rail deploy pod ordinance missile
 
	#loc_BDArmory_part_bahaHoverdisk_title = X-01 径向推进器
	#loc_BDArmory_part_bahaHoverdisk_desc = 为坎星人带来重力枪的是同一批人，但更加和平地对重力操纵进行应用。只要载具拥有发动机提供动力，该装置就能使其所连接的载具悬停在离地 10 米的高度。如果与 BDA AI连接，它将在AI的默认高度悬停。

	#loc_BDArmory_part_bahacloakingDevice_title = 隐形装置
	#loc_BDArmory_part_bahacloakingDevice_desc = 从电影制片厂道具仓库 "借来 "的隐形装置。据科学家们的研究，它的工作原理是在一个局部区域内弯曲光线，从而有效地隐藏该区域内的任何东西，使其无法被视觉探测到。

	#loc_BDArmory_part_radarMissiles_tags = BDA missile radar homing a2a ata ordinance weap guided
	#loc_BDArmory_part_heatMissiles_tags = BDA missile heat IR homing a2a ata ordinance weap guided
	#loc_BDArmory_part_laserMissiles_tags = BDA missile laser homing a2g ats ordinance weap guided
	#loc_BDArmory_part_harmMissiles_tags = BDA missile antirad harm homing ordinance weap guided
//new parts
#loc_BDArmory_part_bahaPSL_title = 脉冲激光器
#loc_BDArmory_part_bahaPSL_description = 一种能够持续射击的低功率脉冲激光武器。电容系统使其可以接入飞行器的电源系统而不会造成过大负担，但长时间运行仍需专用的电池储备或发电能力。开火前需要短暂充能，但充能后可保持短时间待发，允许短暂停火而无需重新充能。使用电力。
#loc_BDArmory_part_bahaElectro_title = 电弧发射器
#loc_BDArmory_part_bahaElectro_description = 一种能够发射持续性“光束”电流的电子激光器。不会对目标造成物理伤害，而是造成EMP伤害，使目标暂时停机失效。使用电力。
#loc_BDArmory_part_bahaSLas_title = 小型连续激光器
#loc_BDArmory_part_bahaMLas_title = 重型脉冲激光器
#loc_BDArmory_part_bahaMLas_desc = 一种脉冲激光武器，以较高的能量输出换取较慢的射速和更高的能耗。持续射击需要专用发电机为武器供能。使用电力。
#loc_BDArmory_part_bahaLLas_title = 激光炮
#loc_BDArmory_part_bahaLLas_desc = 一种工作原理类似于化学激光器的光束激光器。发射强大的光束，持续时间短，之后必须冷却并重新充能。使用电力。
#loc_BDArmory_part_bahascatterLas_title = 散射激光器
#loc_BDArmory_part_bahascatterLas_description = 有什么比激光更好？9个激光器捆在一起，做成一把激光霰弹枪。使用电力。
#loc_BDArmory_part_bahaflakLas_title = 爆破激光
#loc_BDArmory_part_bahaflakLas_description = 发射能量极高的激光脉冲，能够使被击中材料爆炸性汽化，对目标区域造成额外伤害。使用电力。
#loc_BDArmory_part_baha50CalAmmoDrum_title = .50 CAL 弹药箱
#loc_BDArmory_part_baha50CalAmmoDrum_desc = 包含4800发12.7mm子弹的弹药箱。
#loc_BDArmory_part_baha20mmAmmoDrum_title = 20mm 弹药箱
#loc_BDArmory_part_baha20mmAmmoDrum_desc = 包含3000发20mm炮弹的弹药箱。
#loc_BDArmory_part_baha25mmAmmoDrum_title = 25mm 弹药箱
#loc_BDArmory_part_baha25mmAmmoDrum_desc = 包含2000发25mm炮弹的弹药箱。
#loc_BDArmory_part_baha30mmShellDrum_title = 30mm 弹药箱
#loc_BDArmory_part_baha30mmShellDrum_desc = 包含1200发30mm炮弹的弹药箱。
#loc_BDArmory_part_baha76mmShellBox_title = 76mm 弹药箱
#loc_BDArmory_part_baha76mmShellBox_desc = 包含15发76mm炮弹的弹药箱。
#loc_BDArmory_part_bahaSRIR_title = IR-3 小魔怪 空空导弹
#loc_BDArmory_part_bahaSRIR_desc = 一种小型、轻量的短程热寻的导弹，设计用于大量携带。
#loc_BDArmory_part_bahaAdvSRIR_title = IR-7 地狱犬 空空导弹
#loc_BDArmory_part_bahaAdvSRIR_desc = 一种先进的短程热寻的导弹，具有改进的机动性和追踪能力。
#loc_BDArmory_part_bahaMRRAIR_title = IR-10R 梦魔 空空导弹
#loc_BDArmory_part_bahaMRRAIR_desc = 一种老一代的中程热寻的导弹，需要后半球锁定。
#loc_BDArmory_part_bahaLRIR_title = IR-22 伊弗利特 空空导弹
#loc_BDArmory_part_bahaLRIR_desc = 一种远程导弹，主航向修正使用惯性制导，接近目标后切换为热寻的末制导。
#loc_BDArmory_part_bahaERIR_title = IR-35 炎魔 空空导弹
#loc_BDArmory_part_bahaERIR_desc = 一种增程导弹，主航向修正使用惯性制导，接近目标后切换为热寻的末制导。
#loc_BDArmory_part_bahaLSRRM_desc = 一种轻量短程雷达制导导弹，设计用于大量携带。
#loc_BDArmory_part_bahaHSRRM_desc = 一种重型短程雷达制导导弹，用于对付轰炸机和其他大型目标。
#loc_BDArmory_part_bahaLHARM_title = AR-7 棉铃虫 反辐射导弹
#loc_BDArmory_part_bahaLHARM_desc = 一种轻量短程反辐射导弹，专为旋翼机设计。
#loc_BDArmory_part_bahaMRSARH_title = RH-20P 迈米东 空空导弹
#loc_BDArmory_part_bahaMRSARH_desc = 一种老一代的中程半主动雷达制导导弹，需要母机雷达引导至目标。
#loc_BDArmory_part_bahaMRARH_title = RH-12 重装步兵 空空导弹
#loc_BDArmory_part_bahaMRARH_desc = 一种用于近距离格斗的中程雷达制导导弹。
#loc_BDArmory_part_bahaERARH_title = RH-35 枪骑兵 空空导弹
#loc_BDArmory_part_bahaERARH_desc = 一种用于拦截远程目标的增程雷达制导导弹。
#loc_BDArmory_part_bahaAAHARM_desc = 一种反辐射导弹，配备了空对空制导组件，用于攻击空中雷达源。
#loc_BDArmory_part_bahaHATG_title = LA-5 鹤嘴锄 空对地导弹
#loc_BDArmory_part_bahaHATG_desc = 一种低速、重型、短程激光制导对地导弹。需要目标摄像机引导导弹至目标。
#loc_BDArmory_part_bahaERATG_desc = 一种远程激光制导对地导弹。需要目标摄像机引导导弹至目标。
#loc_BDArmory_part_bahaLAShM_title = AS-35 飑 反舰导弹
#loc_BDArmory_part_bahaLAShMAL_title = AS-35 飑 反舰导弹 (空射型)
#loc_BDArmory_part_bahaLAShMAL_desc = 一种低速、较轻的远程反舰巡航导弹。
#loc_BDArmory_part_bahaLAShM_desc = 一种低速、较轻的远程反舰巡航导弹。附带用于地面发射的助推器。
#loc_BDArmory_part_bahaHAShM_title = AS-45 台风 反舰导弹
#loc_BDArmory_part_bahaHAShM_desc = 一种重型、远程高超音速反舰导弹，用于当你需要敌舰立刻、毫不掩饰地被摧毁时。
#loc_BDArmory_part_bahaLSAM_title = SA-10 咆哮者 面对空导弹
#loc_BDArmory_part_bahaLSAM_desc = 一种快速、轻量、短程的面对空导弹，采用波束制导。不建议从飞机上发射。
#loc_BDArmory_part_bahaMRSAM_title = SA-16P 土耳其新军 面对空导弹
#loc_BDArmory_part_bahaMRSAM_desc = 一种中程半主动雷达制导面对空导弹。必须由母机雷达引导至目标。
#loc_BDArmory_part_bahaERSAM_title = SA-35 火巨人 面对空导弹
#loc_BDArmory_part_bahaERSAM_desc = 一种远程惯性/红外制导面对空导弹，用于在视距外使用被动导弹给敌人一个惊喜。
#loc_BDArmory_part_bahaHSAM_title = SA-30 铁甲圣骑兵 面对空导弹
#loc_BDArmory_part_bahaHSAM_desc = 一种低速、重型、蛮横的面对空导弹，用于当你需要击落空中巡洋舰时。
#loc_BDArmory_part_bahaCSAM_title = SA-25 哈尔贝克 面对空导弹
#loc_BDArmory_part_bahaCSAM_desc = 一种远程雷达制导面对空集束导弹，用于你想用很多导弹击中目标，但只需为一枚付费。
#loc_BDArmory_part_bahaASAT_title = SA-300 弑星者 反卫星导弹
#loc_BDArmory_part_bahaASAT_desc = 一种改装自SA-30的导弹，用动能拦截器取代了微型导弹有效载荷，使其成为反卫星武器。轨道目标跟踪雷达需单独购买。
#loc_BDArmory_part_reloadableRail_title = 可调节导弹滑轨（可重新装填）
#loc_BDArmory_part_reloadableRail_desc = 用于挂载导弹的滑轨。用户可通过在底部滑轨节点安装新的弹药来更换挂载的弹药。如果飞行器上有弹药库提供额外弹药，将能够重新装填。
#loc_BDArmory_part_VLScellsingle_title = VLS 发射单元
#loc_BDArmory_part_VLScellsingle_desc = 单个垂直发射系统单元。将导弹安装到顶部节点即可装载该类型导弹。导弹需单独购买。如果飞行器上有弹药库提供额外弹药，将能够重新装填。
#loc_BDArmory_part_CIMS_title = Pavise 近程防御导弹系统
#loc_BDArmory_part_CIMS_desc = 一种多单元近程导弹系统，用于半自主防御来袭导弹或小型飞行器。携带13枚滚动弹体导弹并集成有火控雷达进行制导，但仅对短距离有效，不能替代专用搜索雷达。
#loc_BDArmory_part_GMLR_title = 重型导弹发射滑轨炮塔
#loc_BDArmory_part_GMLR_desc = 一种双臂导弹发射炮塔，用于发射面对空导弹及其他大型弹药。集成有用于追踪锁定目标的火控雷达，但不能替代专用搜索雷达。如果飞行器上有弹药库携带额外弹药，将自动重新装填。
#loc_BDArmory_part_SGMLR_title = 单联导弹发射滑轨炮塔
#loc_BDArmory_part_SGMLR_desc = 一种中型导弹发射导轨系统，用于发射较小的面对空导弹或中大型标准导弹。集成有用于追踪锁定目标的短程基本火控雷达，但不能替代搜索雷达。如果飞行器上有弹药库携带额外弹药，将自动重新装填。
#loc_BDArmory_part_missileTurretTwin_title = 双联导弹炮塔
#loc_BDArmory_part_missileTurretTwin_desc = 一种小型、轻量双联导弹发射炮塔，适用于从卡车后部或类似平台发射轻型导弹。未集成雷达或重新装填机构。
#loc_BDArmory_part_JernasReload_title = 贾纳斯导弹炮塔（可重装）
#loc_BDArmory_part_JernasReload_description = 一种能够容纳和发射多达8枚中小型导弹的炮塔。配有集成探测与追踪雷达。若安装除导弹外的任何物品，保修失效。如果飞行器上有弹药库携带额外弹药，具备重新装填能力。
#loc_BDArmory_part_missileMag_title = 弹药库
#loc_BDArmory_part_missileMagC_title = 弹药库（圆柱形）
#loc_BDArmory_part_missileMag_desc = 用于储存弹药，供可重载滑轨或发射器使用。将要装入库的弹药安装到节点上。最多可容纳20枚导弹/炸弹。
#loc_BDArmory_part_CRWarheadSmall_title = 小型连续杆式战斗部
#loc_BDArmory_part_CRWarhead_description = 一个装有炸药的导弹整流罩。具有平面型杀伤范围。
#loc_BDArmory_part_SCWarheadSmall_title = 小型聚能破甲战斗部
#loc_BDArmory_part_SCWarhead_description = 一个装有炸药的导弹整流罩。专为穿透装甲设计。
#loc_BDArmory_part_NWarheadSmall_title = 小型核战斗部
#loc_BDArmory_part_NWarhead_description = 一个装有2万吨当量核战斗部的导弹整流罩。
#loc_BDArmory_part_FragWarheadSmall_title = 小型破片战斗部
#loc_BDArmory_part_FragWarhead_description = 一个装有炸药和滚珠轴承的导弹整流罩。具有锥形杀伤范围。
#loc_BDArmory_part_EMPWarheadSmall_title = 小型电磁脉冲战斗部
#loc_BDArmory_part_EMPWarhead_description = 一个装有EMP发生器的导弹整流罩。
    }
}




